a:hover {
	color: #fff;
}

.navbar-nav li a:hover {
  color: white;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  color: #ff0066;
}

.navbar {
  background-color: #000;
  padding-bottom: 10px;	
}

#logo {
  width:100px;
  margin-top:7px;
}

#navlet {
	color: #ff5050;;
}

#navlet2 {
	color: #fff;
}